{% extends 'layouts/storetree.twig' %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <h1>Overview <small>where to, Sir?</small></h1>
            </div>

            <ol class="breadcrumb">
                <li class="active"><a href="#">Home</a></li>
            </ol>

            <div class="col-lg-2 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">StoreTree overview</div>

                    <div class="panel-body">
                        <p>Currently there are</p>
                        <ul>
                            <li>Items: {{ numberOfItems }}</li>
                            <li>Shops: {{ numberOfShops }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
