{% extends 'layouts/layout.twig' %}

{% block styleSheets %}
    <style>
        html, body {
            background-color: #fff;
            color: #636b6f;
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            height: 100vh;
            margin: 0;
        }

        .full-height {
            height: 100vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }

        .content {
            text-align: center;
        }

        .title {
            font-size: 84px;
        }

        .links > a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        .m-b-md {
            margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">{{ config('app.name') }}</div>

            <div class="links">
                <a title="My Github profile" target="_blank" href="https://github.com/zelding">GitHub</a>
                <a title="My Stack overflow profile" target="_blank" href="http://stackoverflow.com/users/4308297/zedling">Stack overflow</a>
                <a title="My LinkedIn profile" target="_blank" href="https://www.linkedin.com/in/kristof-dekany/">LinkedIn</a>
            </div>
        </div>
    </div>
{% endblock %}
