{% set success = Session.get('success') %}

{% if success %}
    <button class="btn btn-success pull-right" type="button"
            data-toggle="popover" data-placement="bottom"
            title="All cool"
            data-content="{{ success }}">
        Success
    </button>
{% endif %}