{% set warning = Session.get('warning') %}

{% if warning %}
    <button class="btn btn-warning pull-right" type="button"
            data-toggle="popover" data-placement="bottom"
            title="Here is where you are wrong"
            data-content="{{ warning }}">
        Warning
    </button>
{% endif %}